h1, h2, h3, h4, h5, h6 {margin:0;}
body{background:#1c1c1c; color:#fff}


#main {
  position:relative;
  font: 400 1em/1.5 "Neuton"; color: rgba(255,255,255,.25); text-align: center; margin: 0;
  height:100vh;
}
a:hover {text-decoration: none;}
#main p {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: absolute;
	top: 13%;
	left: 50%;
	width: 40em;
	margin: 0 0 0 -20em;
}
#main .main_title {

  	font:700 7.2em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: 0.07em 0 .185em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }

/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

#main .menu {
    position: absolute;
    top: 54%;
    right: 50%;
    transform: translateX(50%);
  }

#main .menu a {
  font-size:3rem;
  color:#fff;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 0.02em;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  transition: background-size .5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
  background-image: radial-gradient(circle farthest-corner at center center, #f06e2b 0%, #f06e2b 50%, transparent 50.1%);
  background-position: 50% 50%;
  background-size: 0% 0%;
  font-family:'twaysky'
}

#main .menu a:hover {background-size: 180% 400%;-webkit-text-stroke-color: #f06a26;}

#main .menu a:after {
  display: block;
  content: '';
  width: 0;
  height: 2px;
  background-color: #f06a26;
  margin-top: 2px;
  transition-property: all;
  transition-duration: .5s;
}

#main .menu a:hover:after {
  width:100%;
}
#main .bottom_btn a{
  cursor:pointer;
}

#main .bottom_btn a i {
  color:#fff;
  font-size:2rem;
  background-color:transparent;
  border-radius:100%;
  padding:13px;
  border:1px solid #fff;
  transition: .3s ease;
  position: relative;
}

#main .bottom_btn a i:hover {
  padding:18px;
}

#main .bottom_btn {
    position: absolute;
    bottom: 3%;
    right: 50%;
    transform: translateX(50%);
}

#sec1 {
  padding: 30px;
  color:#fff;
  margin-top:70px
}

#sec1 .warp {width:100%; display:table;margin-top:50px;padding:0 20px}
#sec1 h2 {
  font-size:4.3rem;margin-bottom:1rem;
  color:#fff;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 0.02em;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  transition: background-size .8s cubic-bezier(0.67, 0.01, 0.15, 0.98);
  background-image: radial-gradient(circle farthest-corner at center center, #fff 0%, #fff 50%, transparent 50.1%);
  background-position: 50% 50%;
  background-size: 0% 0%;
}
#sec1.on h2{
  background-size: 205% 400%;-webkit-text-stroke-color: #fff;
}
#sec1 h2:after {
  content: '';
  display:block;
  width:0;
  height:2px;
  background-color:#fff;
  transition-property: all;
  transition-duration: 1s;
}
#sec1.on h2:after {
  width:100%;
}

#sec1 h3 {font-size:2.2rem}
#sec1 .warp .warp_left {
  display:table-cell;
  width:32%;
}
#sec1 .english_sub {display:block;margin-bottom:15px;color:#7d7d7d;font-size:1.3rem}
#sec1 .warp ul li {font-size:1.3rem;line-height:2rem}
#sec1 .warp .intro, #sec1 .warp .license {margin-bottom:50px;}

#sec1 .warp .license li {line-height:3rem;width:60%}
#sec1 .warp .license li span:nth-child(2) {float:right;font-size:1rem}


#sec1 .warp .skills {display:table-cell;vertical-align:top;padding:20px;width:40%}
#sec1 .warp .skills .english_sub {margin-bottom:50px}
#sec1 .warp .skills li {margin-bottom:1rem}
#sec1 .warp .skills .skill_per {
  display:inline-block;width:0;height:20px;background-color:#ddd; transition-property: all;
  transition-duration: 1.5s;
}
#sec1.on .skills .ability1List1 .skill_per {width:400px;}
#sec1.on .skills .ability1List2 .skill_per {width:425px;}
#sec1.on .skills .ability1List3 .skill_per {width:325px;}
#sec1.on .skills .ability1List4 .skill_per {width:450px;}

#sec1 .me {display:table-cell;vertical-align: middle;}
#sec1 .me_img img {width:450px;}
#sec2 .options .option.active:after {display:none}
#sec2 .options .option:after {
  content:'';
  display:block;
  height:100%;
  width:100%;
}
#sec2 .options .option1:after {background-color:#ffe4e4}
#sec2 .options .option2:after {background-color:#f1cfba}
#sec2 .options .option3:after {background-color:#f1e8ba}
#sec2 .options .option4:after {background-color:#baf1db}
#sec2 .options .option5:after {background-color:#d1f0ff}
#sec2 .options .option6:after {background-color:#e9ceff}


#sec2 {margin-top:150px;padding:30px;color:#fff}
#sec2 h2 {
  font-size:4.3rem;margin-bottom:1rem;
  color:#fff;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 0.02em;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  transition: background-size .8s cubic-bezier(0.67, 0.01, 0.15, 0.98);
  background-image: radial-gradient(circle farthest-corner at center center, #fff 0%, #fff 50%, transparent 50.1%);
  background-position: 50% 50%;
  background-size: 0% 0%;
}
#sec2.on h2{
  background-size: 205% 400%;-webkit-text-stroke-color: #fff;
}
#sec2 h2:after {
  content: '';
  display:block;
  width:0;
  height:2px;
  background-color:#fff;
  transition-property: all;
  transition-duration: 1s;
}
#sec2.on h2:after {
  width:100%;
}



/* #sec2 sub1-사이트 섹션 */
#sec2 .sec2_sub1 {
  width:1200px;margin:0 auto;
  text-align: center;
  margin-top:60px;
}
#sec2 .sec2_sub1 h3 {
  font-size:3rem;
}

#sec2 .slideShow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  margin-top:50px;
}
#sec2 .credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #000;
}
#sec2 .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 1000px;
  max-width: 1250px;
  width: calc(100% - 100px);
  height: 500px;
}
@media screen and (max-width: 718px) {
  #sec2 .options {
    min-width: 520px;
  }
  #sec2 .options .option:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 638px) {
  #sec2 .options {
    min-width: 440px;
  }
  #sec2 .options .option:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 558px) {
  #sec2 .options {
    min-width: 360px;
  }
  #sec2 .options .option:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  #sec2 .options {
    min-width: 280px;
  }
  #sec2 .options .option:nth-child(2) {
    display: none;
  }
}
#sec2 .options .option {
  position: relative;
  overflow: hidden;
  min-width: 80px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
#sec2 .options .option:nth-child(1) {
  --defaultBackground:#ED5565;
}
#sec2 .options .option:nth-child(2) {
  --defaultBackground:#FC6E51;
}
#sec2 .options .option:nth-child(3) {
  --defaultBackground:#FFCE54;
}
#sec2 .options .option:nth-child(4) {
  --defaultBackground:#2ECC71;
}
#sec2 .options .option:nth-child(5) {
  --defaultBackground:#5D9CEC;
}
#sec2 .options .option:nth-child(6) {
  --defaultBackground:#AC92EC;
}
#sec2 .options .option.active {
  flex-grow: 10000;
  -webkit-transform: scale(1);
          transform: scale(1);
  max-width: 1000px;
  margin: 0 8px;
  border-radius: 40px;
  background-size: auto 100%;
  /*&:active {
     transform:scale(0.9);
  }*/
}
#sec2 .options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
#sec2 .options .option.active .label {
  bottom: 20px;
  left: 20px;
}
#sec2 .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
#sec2 .options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}
#sec2 .options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
#sec2 .options .option:not(.active) .label {
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}
#sec2 .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
#sec2 .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 15%;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  background-color:rgba(0,0,0,0.7);
  display:none;
}

#sec2 .options .option.active .shadow {
  display: block;
}

#sec2 .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
#sec2 .options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}
#sec2 .options .option .label .icon img{width:35px;}
#sec2 .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}
#sec2 .options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
#sec2 .options .option .label .info .slide_title {
  font-weight: bold;
  font-size: 1.2rem;
}
#sec2 .options .option .label .info .sub {
  transition-delay: .1s;
}

#sec2 .options .option .slide_link {opacity:0;transition: opacity 0.5s linear;}
#sec2 .options .option.active:hover .slide_link{
  display:block;
  opacity: 1;
  background-color:rgba(0,0,0,0.7);
  width:100%;height:100%;
}
#sec2 .options .option .slide_icon {
  position:absolute;
  top:50%;left:50%;
  transform:translate(-50%,-50%);
}
#sec2 .options .option .slide_icon .slide_icons {
  margin-top:1rem;
  font-size:2.3rem;
  text-align:center;
}
#sec2 .options .option .slide_icon .slide_icons img {
  width: 2.1rem;
  vertical-align: top;
  margin-top: .6rem;
}
}
#sec2 .options .option .slide_link a {display:none}
#sec2 .options .option.active:hover .slide_link a {
  display:block;
  background-color:#222;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
}
#sec2 .options .option.active:hover .slide_link a:hover {
  color:#ddd;
  background-color:#f06a26;
}

/* #sec2 sub2- 기획서 섹션 */
#sec2 .sec2_sub2 {
  width:1600px;margin:0 auto;
  text-align: center;
  margin-top:100px;
}
#sec2 .sec2_sub2 h3 {
  font-size:3rem;
}
#sec2 .sec2_sub2 .planning {margin-top:30px}

#sec2 .sec2_sub2 .planning_list {
  display:flex;
  flex-wrap: wrap;
}
#sec2 .sec2_sub2 .planning_list li {
  margin-right:20px;padding:20px 0;
  position:relative;
}
#sec2 .sec2_sub2 .planning_list li:hover .planning_back {
  opacity:1
}
#sec2 .sec2_sub2 .planning_list li:hover img {
  transform: scale(1.2);
}
#sec2 .sec2_sub2 .planning_list li.mg_0{margin-right:0}

#sec2 .sec2_sub2 .planning_list img {
  width:380px;  border-radius:20px;
  transition-property: all;
transition-duration: 1s;
}
#sec2 .sec2_sub2 .planning_back {
  opacity:0;
  position:absolute;
  background-color:rgba(0,0,0,0.7);
  top: 5%; width:100%;height:71%;
  border-radius: 20px;
  font-size: 3.5rem;
  transition-property: all;
  transition-duration: 1s;
}
#sec2 .sec2_sub2 .planning_back:after {
  display:block;
  content:'';
  position:absolute;bottom:0;
  width:0;
  height:5px; border-radius:20px;
  background-color:#f06a26;
  transition-property: all;
  transition-duration: 1s
}
#sec2 .sec2_sub2 .planning_list li:hover  .planning_back:after {
  width:100%;
}


#sec2 .sec2_sub2 a {display:inline-block}
#sec2 .sec2_sub2 a:hover {color:#f06a26}
#sec2 .sec2_sub2 .planning_list li span {display:block;}

#sec2 .sec2_sub2 .planning_list .planning_show {
  position:absolute; top:50%; left:50%;
  transform: translate(-50%,-50%);
  width:100%;
}
#sec2 .sec2_sub2 .planning_list .planning_title {
  font-size:1rem;
  padding-top:20px;
}
#sec2 .sec2_sub2 .planning_list .planning_title span:first-child{
  font-size: 1.4rem;
}
#sec2 .sec2_sub2 .planning_list .planning_show span {
  font-size:1rem
}
#sec2 .sec2_sub2 .planning_thumb {width:380px;height:285px;overflow:hidden;border-radius: 20px}
#sec2 .sec2_sub2 .planning_note {
  display:none;
  position:fixed;
  top:0;left:0;bottom:0;right:0;
  background-color:rgba(0,0,0,0.8);
  z-index:100;
}
#sec2 .sec2_sub2 .planning_noteImg {
  position:absolute;
  top:50%;left:50%;
  transform: translate(-50%,-50%);
  display:none;
}
#sec2 .sec2_sub2 .planning_noteImg img {width:1100px}
#sec2 .sec2_sub2 .planning_note .close_button {
  font-size:3.5rem;
  background-color: transparent;
  color: #fff;
  border: 0;
  position: absolute;
  top: 10%;
  right: 15%;
}
#sec2 .sec2_sub2 .planning_note .close_button i {
  transition: all ease 1s;
}
#sec2 .sec2_sub2 .planning_note .close_button i:hover {transform: rotate( 270deg );}



#sec3 {margin-top:150px;padding:30px;color:#fff}
#sec3 h2 {
  font-size:4.3rem;margin-bottom:1rem;
  color:#fff;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 0.02em;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  transition: background-size .8s cubic-bezier(0.67, 0.01, 0.15, 0.98);
  background-image: radial-gradient(circle farthest-corner at center center, #fff 0%, #fff 50%, transparent 50.1%);
  background-position: 50% 50%;
  background-size: 0% 0%;
}
#sec3.on h2{
  background-size: 205% 400%;-webkit-text-stroke-color: #fff;
}
#sec3 h2:after {
  content: '';
  display:block;
  width:0;
  height:2px;
  background-color:#fff;
  transition-property: all;
  transition-duration: 1s;
}
#sec3.on h2:after {
  width:100%;
}


/* slider */
#slider {margin-top:20px}
#slider .slick-slide img {width:400px;border-radius:20px}
#slider.slick-slider {padding:0 40px}

#sec3 .introduce {
  width:1800px;
  margin:0 auto;
  margin-top:4rem;
  display:table;}
#sec3 .introduce h4 {
  font-size:2rem;
  padding-bottom:1rem
}
#sec3 .introduce h4:after {
  content:'';
  display:block;
  width:90%; height:2px;
  background-color:#fff;
  margin-top:.5rem
}
#sec3 .introduce div {display:table-cell;width:50%;padding-bottom:4rem}
#sec3 .introduce p {font-size:1.2rem;line-height: 2.2rem;}



/* #sec4 interview */
#sec4 {margin-top:130px;padding:30px;color:#fff}
#sec4 h2 {
  font-size:4.3rem;margin-bottom:1rem;
  color:#fff;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 0.02em;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  transition: background-size .8s cubic-bezier(0.67, 0.01, 0.15, 0.98);
  background-image: radial-gradient(circle farthest-corner at center center, #fff 0%, #fff 50%, transparent 50.1%);
  background-position: 50% 50%;
  background-size: 0% 0%;
}
#sec4.on h2{
  background-size: 205% 400%;-webkit-text-stroke-color: #fff;
}
#sec4 h2:after {
  content: '';
  display:block;
  width:0;
  height:2px;
  background-color:#fff;
  transition-property: all;
  transition-duration: 1s;
}
#sec4.on h2:after {
  width:100%;
}


#sec4 .interview {max-width:1000px;margin:0 auto; margin-top:40px;}
#sec4 .interview dt {padding-bottom:15px;font-size:1.3rem;cursor:pointer;}
#sec4 .interview dt:hover {color:#f06a26}
#sec4 .interview dt strong {font-weight:normal;vertical-align:middle}
#sec4 .interview dd {display:none;padding:20px 40px;margin-bottom:20px; background-color:#fff; border-radius:10px}
#sec4 .interview dd p {color:#222;margin:0}
#sec4 .interview dt:before {display:inline-block;content:'Q';margin-right:15px;font-size:1.7rem;color:#f06a26;vertical-align:middle}
#sec4 .interview dt i {padding-left:8px;font-size:1.8rem;vertical-align:middle}
#sec4 .interview dt:after {
  content:'';
  display:block;
  width:0%; height:2px;
  background-color:#fff;
  transition-property: width;
  transition-duration: 1s
}
#sec4 .interview .xi-message {display:none}

#sec4 .interview .show + *{display:block;font-size:1.2rem;}
#sec4 .interview .show {font-weight:bold;}
#sec4 .interview .show::after {
  width:100%;
}
#sec4 .interview .show strong {font-weight:bold}
#sec4 .interview .show .xi-message-o {display:none}
#sec4 .interview .show .xi-message {display:inline-block}

#sec4 .interview dt:hover:after {background-color:#f06a26}

#quick {
  opacity: 0;
  position:fixed; bottom:3%; right:2%;
  font-size:1rem;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px;
  text-align:center;
  background-color:#1c1c1c;
  transition: all 0.8s;
}
#quick.on {opacity: 1;}
#quick .quick_list li:hover {color:#f06a26}
#quick .quick_list i {font-size:3rem; cursor:pointer;}
#quick .quick_list span {display:block; margin-bottom:1rem}
#quick .quick_note {
  display:none;
  position:fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
}
#quick .quick_note img {
  position:absolute;
  top:50%; left:50%;
  transform:translate(-50%,-50%)
}
#quick .quick_note .xi-close {
  position:absolute;
  top:8%;right:13%;
  transition: all ease 1s;
  font-size: 4rem;
  color:#fff;
}
#quick .quick_note .xi-close:hover {
  transform: rotate( 270deg )
}
